@import '../../../styles//abstracts/variables';
@import '../../../styles//abstracts/mixins';

.projectsGrid {
  @include centered-container;
  display: grid;
  max-width: 90%;
  grid-row-gap: $space-56;
  grid-template-rows: min-content;
  grid-auto-rows: min-content;
  margin-bottom: $space-96;

  @include tablet-landscape-up {
    max-width: 80%;
  }

  &Header {
    font-size: $font-size-36;
    line-height: 4.2rem;
    color: $color-orange-medium;
    font-weight: 400;
  }
  
  &Description {
    max-width: 40rem;
    margin-top: $space-sm-8;

    @include tablet-landscape-up {
      max-width: 60rem;
    }
  }

  &Container {
    display: grid;
    grid-template-rows: max-content;
    grid-auto-rows: max-content;
    grid-row-gap: $space-56;
  }
}

.project {
  display: grid;
  // grid-template-columns: 40rem max-content;
  grid-row-gap: $space-32;
  
  @include tablet-landscape-up{
    grid-row-gap: $space-56;
    grid-template-columns: 40rem max-content;
    grid-column-gap: $space-56;
    grid-row-gap: 0;
  }

  &ImageContainer {
    grid-column: 1/2;
    width: 40rem;
    height: 28rem;
    background-color: $color-grey-light;
    border-radius: 1rem;
    
    @include tablet-landscape-up{
      width: 40rem;
      height: 28rem;
    }
  }

  &Container {
   width: 40rem;
        
    @include tablet-landscape-up{
      width: 52rem;
      grid-column: 2/3;
    }
  }

  &Header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &Name {
    color: $color-orange-medium;
    font-weight: 400;
    font-size: $font-size-24;
    line-height: 3.2rem;
  }

  &Status {
    font-weight: 300;
    margin-left: $space-32;
  }

  &Tech {
    list-style: none;
    display: flex;
    padding-left: 0;
    max-width: 52rem;
    flex-wrap: wrap;
    margin-bottom: $space-12;

    &Breadcrumb {
      font-size: $font-size-10;
      background-color: $color-grey-light;
      margin-right: $space-sm-8;
      padding: 0 $space-16;
      border-radius: 1rem;
      margin-bottom: $space-sm-4;
    }
    &Highlight {
      color: $color-orange-medium;
    }
  }

  &Summary {
    max-width: 52rem;
  }

  &ButtonContainer {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: $space-16;
  }

  &Button {
    margin-top: $space-32;

    &Primary {
      @include button-regular;
      color: $color-grey-dark;
      background-color: $color-orange-medium;
      border: 1px solid $color-orange-medium;
      height: 4.2rem;
      &:hover,
      &:focus {
        background: $color-off-white;
        border: 1px solid $color-off-white;
        outline: none;
      }
    }
    &Secondary {
      @include button-regular;
      &:hover,
      &:focus {
        color: $color-grey-dark;
        background: $color-off-white;
        border: 1px solid $color-off-white;
        outline: none;
      }
    }
  }
}
