@import '../../styles/abstracts/mixins';

.skills {
  display: grid;
  // grid-template-rows: 1fr max-content 2fr;
  // grid-template-columns: 1fr min-content;
  grid-row: 2/3;
  width: 90%;  
  margin: 0 auto;
  
  @include tablet-landscape-up {
    width: 80%;
  }
}