// Breakpoints
@mixin phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin large-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

// Layout

@mixin centered-container {
  width: 90%;
  margin: 0 auto;

  @include tablet-landscape-up {
    width: 80%;
  }
}

@mixin centered-in-grid-3 {
  grid-column: 2/3;
}

@mixin grid-columns-full {
  grid-column: 1/ -1;
}

// Components

@mixin button-regular {
  font-family: 'Lato';
  text-align: center;
  display: inline-block;
  font-size: $font-size-16;
  padding: .8rem 1.6rem;
  color: $color-off-white;
  border: 1px solid $color-off-white;
  border-radius: 5rem;
  font-weight: 600;
}
// Transitions
