// Breakpoints
@mixin phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin large-desktop-up {
  @media (min-width: 1800px) { @content; }
}


// // usage
// .my-box {
//   padding: 10px;
  
//   @include desktop-up {
//     padding: 20px;
//   }
// }

// Layout 

@mixin centered-container {
  display: flex;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

@mixin centered-in-grid-3 {
  grid-column: 2/3;
}

@mixin grid-columns-full {
  grid-column: 1/ -1;
}

// Components 

@mixin button-regular {
  padding: .5em 1em;
  color: $color-grey-dark;
  border: 1px solid $color-orange-medium;
  border-radius: 5rem;
  font-weight: 600;
}
// Transitions