// Colors

$color-grey-dark: #2A2C3A;
$color-off-white: #E7E3ED;

$color-grey-light: #323443;
$color-orange-medium: #E9B44C;
$color-orange-bright: #E79C08;


// Font Sizes
$font-size-10: 1rem;
$font-size-12: 1.2rem;
$font-size-16: 1.6rem;
$font-size-24: 2.4rem;
$font-size-36: 3.6rem;
$font-size-54: 5.4rem;

// Spacing

$space-sm-4: 0.4rem;
$space-sm-8: 0.8rem;
 
$space-12: 1.2rem;
$space-16: 1.6rem;
$space-24: 2.4rem;
$space-32: 3.2rem;
$space-56: 5.6rem;
$space-96: 9.6rem;

//Shadows



