@import '../../../styles/abstracts/variables';

.socialIcon_container {
  position: relative;
  display: inline-block;
  height: 4.2rem;
  width: 4.2rem;
  cursor: pointer;

  // &:hover .socialIcon {
  //   fill: $color-orange-medium;
  // }
}

.socialIcon {
  height: 4.2rem;
  width: 4.2rem;
  fill: $color-off-white;

  &:hover, &:focus {
    fill: $color-orange-medium;
  }
}
