@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');
@import '../abstracts/variables';


.header_1 {
  font-family: 'Raleway';
  font-size: $font-size-54;
  font-weight: 400;

  &_highlight {
    font-size: $font-size-54;
    color: $color-orange-medium;
    font-weight: 400;
  }
}

.header_2 {
  font-size: $font-size-36;
  line-height: 4.4rem;
  font-weight: 400;
}

.header_3 {
  font-size: $font-size-24;
  line-height: 3.2rem;
  font-weight: 400;
}

