@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.footer {
  @include centered-container;

  &_text {
    font-size: $font-size-10;

    &_highlight {
      font-size: $font-size-10;
      color: $color-orange-medium;
    }
  }
}
