@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.footer {
  width: 90%;
  margin: 0 auto;

  @include tablet-landscape-up {
    width: 80%;
  }

  &_text {
    font-size: $font-size-10;

    &_highlight {
      font-size: $font-size-10;
      color: $color-orange-medium;
    }
  }
}
