@import '../../../styles/abstracts/variables';

.drawer {
  position: absolute;
  display: grid;
  grid-template-rows: 19.2rem max-content 1fr;
  top: 0;
  left: -5vw;
  z-index: 4;
  width: 66vw;
  // transform: translateX(-rem);
  height: 100vh;
  background-color: $color-grey-dark;
}

.navlinkContainer {
  display: flex;
  grid-row: 2/3;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15vw;

  & > a {
    font-size: $font-size-36;
    margin: 1.6rem 0;
    display: block;
    padding-bottom: 1.2rem;
  }
}