@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';
@import '../../../styles/base/typography';

.navigation {
  display: flex;
}

.menuContainer {
  display: flex;
  padding: 3rem 0;
  @include centered-container;
  @include tablet-portrait-up {
    display: none;
  }
}

.navlinkContainer {
  display: none;
  padding: $space-56 0;
  @include centered-container;

  @include tablet-portrait-up {
    display: block;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
}
