@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.about {
  display: grid;
  grid-template-columns: 1fr;
  @include centered-container;
  
  @include tablet-landscape-up {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $space-56;

  }
}

.imageContainer {
  margin-bottom: $space-56;
  max-width: 55rem;
  grid-row: 2/3;

  @include tablet-landscape-up {
    grid-row: 1/2;
    grid-column: 2/3;
    // width: 36rem;


  }
}

