@import '../styles/abstracts/mixins';

.landing {
  height: 100%;
  display: grid;
  grid-template-rows: .5fr max-content 2fr max-content 1fr;
  grid-template-columns: 1fr;
  // grid-row: 2/3;
  @include centered-container;
  

  @include desktop-up {
    grid-template-rows: 1fr max-content 2fr;
    grid-template-columns: 1fr min-content;
  }
}