@import '../../../styles/abstracts/variables';

.title {
  font-size: $font-size-36;
  line-height: 4.2rem;
  color: $color-orange-medium;
  font-weight: 400;
}

.subtitle {
  font-size: $font-size-16;
  line-height: 2.4rem;
  color: $color-off-white;
  font-weight: 300;
  margin-top: $space-sm-4;
}