@import '../../../styles/abstracts/variables';

.techModal {
  position: absolute;
  width: 40rem;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  padding: $space-32;
  background-color: $color-grey-dark;
  z-index:20;
}