@import '../../../styles/abstracts/variables';

.techElement {
  display: flex;
  width: 27rem;
  cursor: pointer;
  height: 3.2rem;
  align-items: center;
  transition: 0.1s ease-in-out;

  &:hover {
    color: $color-orange-medium;

    & svg {
      fill: $color-orange-medium;
    }
  }
}

.tech_label {
  display: inline-block;
  margin-left: $space-12;
}